{% extends "layout.html" %}
{% block content %}
<div id="intro-container">
    <img src="/static/img/logo.jpg">
    <div id="intro-box">
      <h2>Was ist das WeatherPad?</h2>
      <div id="about">
        Related to the current climate change, a lot of dangerous situations
        are caused by the weather nowadays.<br/><br/>
        For the early detection of these situations, such as hurricanes or
        intense rain for example, the "WeatherPad" application has been
        developed.<br/><br/>
        It helps to get the most precise information about the future weather
        development by comparing data of seven different weather services,
        which often differ in actuality.<br/><br/>
        The advantage is to get a quick overview of available weather
        information without having to access every single website of each
        provider.<br/>
      </div>
    </div>
  </div>
{% endblock %}



