{% extends "layout.html" %}
{% block head %}
<style>
  html {
      height: 100%;
      overflow-x: scroll;
    }
    
    body {
      width: 10000px;
      min-height: 100%;
      overflow-y: hidden;
      background-color: #3c9bec;
    }

    .wolke1 {
      height: 100%;
      background: url(/static/img/wolke1.png);
    }
    
    .wolke2 {
      height: 100%;
      background: url(/static/img/wolke2.png);
      height: 1200px;
    }
    .source {
      clear: both;
    }
    .box {
      width: 200px;
      background-color: white;
/*      padding: 20px;*/
      margin: 20px;
      float: left;
    }
    .data {
      margin: 2px 10px;
    }
    .title {
      width: 180px;
      background-color: #3c9bec;
      padding: 10px;
    }
    #plot {
      width: 800px;
      height: 300px;
    }

  </style>
{% endblock %}
{% block content %}
<div class="wolke1">
  <div class="wolke2">
    {% for source_name, source in grouped_by_source.iteritems() %}
    <div class="source">
      {% for entry in source %}
        <div class="box">
          <div class="title">{{ source_name }}</div>
          <div class="data">{{ entry.report.time_from }} - {{ entry.report.time_to }}</div>
          {% if entry.report.temperature_current %}
            <div class="data temp_cur">{{ entry.report.temperature_current }}°C</div>
          {% endif %}
        </div>
      {% endfor %}
      </div>
    {% endfor %}
    <div id="plot"></div>
  </div>
</div>
{% endblock %}
{% block js %}


  $.fn.parallax = function(options){
      var $$ = $(this);
      offset = $$.offset();
      var defaults = {
          "start": 0,
          "stop": offset.left + $$.width(),
          "coeff": 0.95
      };
      var opts = $.extend(defaults, options);
      return this.each(function(){
      $(window).bind('scroll', function() {
              windowLeft = $(window).scrollLeft();
              if((windowLeft >= opts.start) && (windowLeft <= opts.stop)) {
                  newCoord = windowLeft * opts.coeff;
                  $$.css({
                      "background-position": newCoord + "px 0"
                  });
              }
          });
      });
  };
  $('.wolke1').parallax({ "coeff":-0.65 });
  $('.wolke2').parallax({ "coeff":1.15 });
  var plot_data = {{ plot_data }};
  $.plot($("#plot"), plot_data, {xaxis: {
    mode: "time",
    timeformat: "%d.%m."
  }});
    
{% endblock %}



