{% extends "layout.html" %}
{% block head %}
<style>
  html {
      height: 100%;
      overflow-x: scroll;
    }
    
    body {
      width: 10000px;
      min-height: 100%;
      overflow-y: hidden;
      background-color: #3c9bec;
    }

    .wolke1 {
      height: 100%;
      background: url(/static/img/wolke1.png);
    }
    
    .wolke2 {
      height: 100%;
      background: url(/static/img/wolke2.png);
      height: 1200px;
    }
    .slot {
      float:left;
      margin:10px 10px 0 10px;
    }
    .title {
      background-color: white;
    }
    .entry {
        margin:10px 0;
    }
    .source {
      font-size:x-large;
    }
    .data {
      margin: 2px 10px;
    }
    #plot {
      width: 800px;
      height: 300px;
    }

  </style>
{% endblock %}
{% block content %}
<div class="wolke1">
  <div class="wolke2">
    {% for slot,entries in grouped_by_timeslot %}
    <div class="slot">
        <div class="title">{{ slot }}</div>
        {% for entry in entries.itervalues() %}
        <div class="entry">
            <div class="source">{{ entry.source }}</div>
            {% if entry.temperature_max %}<div class="data temp_max">Temp Max: {{ entry.temperature_max }}°C</div>{% endif %}
            {% if entry.temperature_current %}<div class="data temp_cur">Temp Cur: {{ entry.temperature_current }}°C</div>{% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <div style="clear:both" />
    <div id="plot"></div>
  </div>
</div>
{% endblock %}
{% block js %}


  $.fn.parallax = function(options){
      var $$ = $(this);
      offset = $$.offset();
      var defaults = {
          "start": 0,
          "stop": offset.left + $$.width(),
          "coeff": 0.95
      };
      var opts = $.extend(defaults, options);
      return this.each(function(){
      $(window).bind('scroll', function() {
              windowLeft = $(window).scrollLeft();
              if((windowLeft >= opts.start) && (windowLeft <= opts.stop)) {
                  newCoord = windowLeft * opts.coeff;
                  $$.css({
                      "background-position": newCoord + "px 0"
                  });
              }
          });
      });
  };
  $('.wolke1').parallax({ "coeff":-0.65 });
  $('.wolke2').parallax({ "coeff":1.15 });
  var plot_data = {{ plot_data }};
  $.plot($("#plot"), plot_data, {xaxis: {
    mode: "time",
    timeformat: "%d.%m."
  }});
    
{% endblock %}



