{% extends "layout.html" %}
{% block head %}
  <style>
    body {
      min-width: 10000px;
    }  
    .flagged { background-color: #440000; }
  </style>
{% endblock %}
{% block content %}
  <div id="table">
    <div id="legend">
        <div>Max. Temperature</div>
        <div>Current Temperature</div>
        <div>Wind Speed</div>
        <div>Warning</div>
    </div>

    <table>
    <tr>
        {% for slot,entries in grouped_by_timeslot %}
        <th class="slot{%for entry in entries.itervalues()%}{%if entry.flagged%} flagged{%endif%}{%endfor%}" id="{{ slot }}">{{ slot | datetimeformat }}</th>
        {% endfor %}
    </tr>

    <tr>
        {% for slot,entries in grouped_by_timeslot %}
        <td class="data temp_max" id="temp_max_{{ slot }}">
            {% for entry in entries.itervalues() %}
                {% if entry.temperature_max %}<span class="source">{{ entry.source }}</span> <span class="value">{{ "%3.1f" % entry.temperature_max }}°C</span><br />{% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>

    <tr>
        {% for slot,entries in grouped_by_timeslot %}
        <td class="data temp_cur" id="temp_cur_{{ slot }}">
            {% for entry in entries.itervalues() %}
                {% if entry.temperature_current %}<span class="source">{{ entry.source }}</span> <span class="value">{{ "%3.1f" % entry.temperature_current }}°C</span><br />{% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>

    <tr>
        {% for slot,entries in grouped_by_timeslot %}
        <td class="data wind_spd" id="wind_spd_{{ slot }}">
            {% for entry in entries.itervalues() %}
                {% if entry.wind_speed %}<span class="source">{{ entry.source }}</span> <span class="value">{{ "%4.1f" % entry.wind_speed }} km/h {{ entry.wind_direction }}</span><br />{% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>


    <tr>
        {% for slot,entries in grouped_by_timeslot %}
        <td class="data" id="warning_{{ slot }}">
            {% for entry in entries.itervalues() %}
                {% if entry.warning %}<span class="source">{{ entry.source }}</span> <span class="warning value">{{ entry.warning }}<br />{% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>

    </table>
  </div>
  <div id="plot"></div>
{% endblock %}

{% block js %}
  var plot_data = {{ plot_data|safe }};
  $.plot($("#plot"), plot_data, {
    xaxis: {
      mode: "time",
      timeformat: "%d.%m." },
    yaxes: [ {
        tickFormatter: function(val) {
          return val + " °C";
        }
      },
      {
        alignTicksWithAxis: 1,
        position: "right",
        tickFormatter: function(val, axis) {
          return val.toFixed(axis.tickDecimals) + " mm";
        },
    }],
    series: { 
      bars: {
        barWidth: 3*3600000
      },
      points: {
        radius: 3 }
      }
    });
{% endblock %}



